<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>zoom clone</title>
    <script src="https://kit.fontawesome.com/20740b9cd8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script>
        const ROOM_ID = "<%= roomId %>";
    </script>
</head>

<body>
    <main class="main">
        <div class="main__video__container">
            <div class="main__video-frame" id="video-frame"></div>
        </div>
        <div class="main__controls">
            <div class="main__controls-wrapper mute" onClick="muteUnmute()">
                <i class="fas fa-microphone"></i>
                <p class="main__controls-text">Mute</p>
            </div>
            <div class="main__controls-wrapper video" onClick="playStop()">
                <i class="fas fa-video"></i>
                <p class="main__controls-text">Start Video</p>
            </div>
        </div>
    </main>
</body>
<script src="script.js"></script>

</html>